<div *ngIf="articles">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Hey, {{uname}}</h1>
    <p class="lead">Below is the list of your collected articles.<br>You can read and manage them from here and any changes made here will be pushed to all your devices.</p>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col"><button class="btn btn-outline-primary" (click)="toggle()">Sorted by {{txt}} first</button></div>
  <pagination-controls (pageChange)="p = $event" style="cursor:pointer;text-align:center;" class="hidden-md-down col"></pagination-controls>
  <div class="col hidden-sm-down">
    <div class="dropdown" style="float:right;cursor:pointer;">
    <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{num}} articles/page
    </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="setnum(8)">8 Articles</a>
        <a class="dropdown-item" (click)="setnum(12)">12 Articles</a>
        <a class="dropdown-item" (click)="setnum(16)">16 Articles</a>
        <a class="dropdown-item" (click)="setnum(20)">20 Articles</a>
        <a class="dropdown-item" (click)="setnum(50)">50 Articles</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <input type="number" [(ngModel)]="num"> -->
  <div *ngIf="articles.length>0" class="pt-3">

    <!-- <ul> -->
      <!-- <li *ngFor="let article of articles"><a routerLink="detail/{{article.id}}">{{ article.title }}</a></li> -->
    <!-- </ul> -->
    <div class="clearfix"></div>
    <!-- <div class="row">
      <div class="card" style="" class="col-3" *ngFor="let article of articles">
        <img class="card-img-top" style="width:100%;" src="{{article.image}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{article.title}}</h4>
          <a routerLink="detail/{{article.id}}" class="btn btn-primary">Read here</a>
        </div>
      </div>
    </div> -->

    <div class="flex-container">
    <div class="Gcard col flex-item" *ngFor="let article of articles | paginate: { itemsPerPage: num, currentPage: p }" routerLink="detail/{{article.id}}">
      <div class="GcardContainer lead pt-1 em-9" style="text-align:center;">
        <div class="row pt-3" style="margin:0 auto;">
          <img class="newsImg" src="{{article.image}}" style="width:100%;height:100%">
        </div>
        <div class="clearfix"></div>
        <div class="row pt-4 pb-4" style="text-align:center;margin-left:0;">
          <strong>{{article.title}}</strong>
          <!-- <br> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="articles.length==0">You have not added any articles yet. <button class="float-right">Start Now</button></div>

</div>
</div>
<div *ngIf="!articles" class="container pt-4"><div style="margin: 0 auto;text-align:center;margin-top:200px;"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div></div>
