.Gcard {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 height: auto;
 margin-bottom: 30px;
 line-height: auto;
 max-width: 300px;
 min-width:300px;
}

.Gcard:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
 cursor: pointer;
}

.GcardContainer {
 padding: 2px 16px;
}

a {
 color:#014C8C;
}
a:hover {
 text-decoration:none;
}
.newsImg {
 margin-bottom:2px;
 background-size: cover;
 margin:0 auto;
}
.em-9 {
 font-size:0.9em;
}

/* flexbox for Historical Data */
.flex-container {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-justify-content: center;
       -ms-flex-pack: center;
           justify-content: center;
}

.flex-item {
 margin: 5px;
}
