<div *ngIf="data">
  <div class="bg">
    <h1>{{data.title}} <a (click)="delete()" class="btn btn-danger float-right" style="margin-left:10px;cursor:pointer;"><span class="fa fa-trash-o"></span></a><a routerLink="" class="btn red-btn float-right hidden-md-down"><span class="pr-2 fa fa-chevron-left"></span>Go Back</a></h1>
  </div>
  <div class="container pt-4 pb-4">
      <pre class="pt-4">{{data.content}}</pre>
      <div class="component hidden-sm-down">
    				<button class="cn-button" id="cn-button" (click)="handler($event)">+</button>
    				<div id="cn-wrapper" [ngClass]="{'cn-wrapper':true,'opened-nav':open}">
    				    <ul>
    				      <li><a href="#"><span class="fa fa-android fa-rotate-90"></span></a></li>
    				      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{data.source}}" target="_blank"><span class="fa fa-share-alt"></span></a></li>
    				      <li><a routerLink=""><span class="fa fa-home"></span></a></li>
    				      <li><a routerLink="/profile"><span class="fa fa-user"></span></a></li>
    				      <li><a style="cursor:pointer;" (click)="signOut()"><span class="fa fa-sign-out fa-rotate-270"></span></a></li>
    				     </ul>
    				</div>
    				<div id="cn-overlay" [ngClass]="{'cn-overlay':true,'on-overlay':open}"></div>
    			</div>

  </div>

</div>
<div *ngIf="!data" class="container pt-4"><div style="margin: 0 auto;text-align:center;margin-top:200px;"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div></div>
