<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="assets/logo.png" class="pt-less"><span class="pl-1">PACK</span></a>

  <div class="collapse navbar-collapse" id="navbarDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="globalService.isLoggedIn()">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="globalService.isLoggedIn()">
        <a class="nav-link" (click)="signOut()" style="cursor:pointer;">Log out</a>
      </li>
      <li class="nav-item" *ngIf="!globalService.isLoggedIn()">
        <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign In</a>
      </li>
      <li class="nav-item" *ngIf="globalService.isLoggedIn()">
        <a class="nav-link" routerLink="/profile">
          <img src="assets/user_image.png" id="userImg" class="hidden-md-down" alt="user">
          <span class="hidden-lg-up">My Profile</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="errMsg">{{errMsg.detail}}</div>
