<!-- <div class="container pt-4">
  <form [formGroup]="requestSignUpForm" (ngSubmit)="signUp()">
    <div *ngIf="errMsg">
      The following errors occured:
      <div>{{errMsg.username}}</div>
      <div>{{errMsg.email}}</div>
    </div>
    <input type="text" name="username" formControlName="username" placeholder="Username"/><br>
    <input type="email" name="email" formControlName="email" placeholder="Email"/><br>
    <input type="text" name="first_name" formControlName="first_name" placeholder="First name"/><br>
    <input type="text" name="last_name" formControlName="last_name" placeholder="Last name"/><br>
    <input type="password" name="password" formControlName="password" placeholder="Password"/><br>
    <button type="reset">Reset</button><button type="submit" [disabled]="!requestSignUpForm.valid">Sign Up</button>
    </form>
  <a class="nav-link" routerLink="/signin">Already have account? Sign in here.</a>
</div> -->
<div class="hidden-sm-down pt-1">&nbsp;</div>
<form [formGroup]="requestSignUpForm" (ngSubmit)="signUp()">
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" (click)="route()"><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username <span *ngIf="errMsg && errMsg.username" class="float-right hidden-sm-down">{{errMsg.username}}</span></label>
					<input type="text" [ngClass]="{'input':true,'error':errMsg && errMsg.username}" name="username" formControlName="username">
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address <span *ngIf="errMsg && errMsg.email" class="float-right hidden-sm-down">{{errMsg.email}}</span></label>
					<input type="text" [ngClass]="{'input':true,'error':errMsg && errMsg.email}" name="email" formControlName="email">
				</div>
				<div class="group">
					<label for="user" class="label">First Name <span *ngIf="errMsg && errMsg.first_name" class="float-right hidden-sm-down">{{errMsg.first_name}}</span></label>
					<input type="text" [ngClass]="{'input':true,'error':errMsg && errMsg.first_name}" name="first_name" formControlName="first_name">
				</div>
				<div class="group">
					<label for="user" class="label">Last Name <span *ngIf="errMsg && errMsg.last_name" class="float-right hidden-sm-down">{{errMsg.last_name}}</span></label>
					<input type="text" [ngClass]="{'input':true,'error':errMsg && errMsg.last_name}" name="last_name" formControlName="last_name">
				</div>
				<div class="group">
					<label for="pass" class="label">Password <span *ngIf="errMsg && errMsg.password" class="float-right hidden-sm-down">{{errMsg.password}}</span></label>
					<input type="password" [ngClass]="{'input':true,'error':errMsg && errMsg.password}" data-type="password" name="password" formControlName="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
        <hr>
				<div class="foot-lnk">
					<a routerLink="/signin">Already a Member? Sign in here</a>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
