<!-- <div class="container pt-4">
  <form [formGroup]="requestSignInForm" (ngSubmit)="signIn()">
    <div *ngIf="errMsg">
      {{errMsg.non_field_errors}}
    </div>
    <input type="text" name="username" formControlName="username" placeholder="Username"/><br>
    <input type="password" name="password" formControlName="password" placeholder="Password"/><br>
    <button type="reset">Reset</button><button type="submit" [disabled]="!requestSignInForm.valid">Sign In</button>

    </form>
    <a class="nav-link" routerLink="/signup">Don't have account? Sign up here.</a>

</div> -->
<div class="hidden-sm-down pt-1">&nbsp;</div>
<form [formGroup]="requestSignInForm" (ngSubmit)="signIn()">
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" (click)="route()"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
      <div class="pt-2 pb-2 loginError" *ngIf="errMsg">{{errMsg}}</div>
				<div class="group">
					<label for="user" class="label">Username</label>
					<input name="username" formControlName="username" type="text" [ngClass]="{'input':true,'error':errMsg}">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input name="password" formControlName="password" type="password" [ngClass]="{'input':true,'error':errMsg}" data-type="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
				<hr>
				<div class="foot-lnk">
					<a routerLink="/signup" class="pb-4">Don't have account? Sign up here</a>
				</div>
			</div>

		</div>
	</div>
</div>
</form>
